JWT_EXPIRES_IN=
JWT_REFRESH_EXPIRES_IN=
JWT_REFRESH_SECRET=
JWT_SECRET=
JWT_TICKET=
MONGO_URL=
REDIS_URL=
SMTP_FROM_EMAIL=
SMTP_FROM_NAME=
SMTP_HOST=
SMTP_PASS=
SMTP_PORT=
SMTP_SECURE=
SMTP_USER=
USE_MEMORY_DB=