PORT=3000
JWT_EXPIRES_IN=24h
JWT_REFRESH_EXPIRES_IN=7d
JWT_REFRESH_SECRET=
JWT_SECRET=
JWT_TICKET=
MONGO_URL=
USE_MEMORY_DB=true
REDIS_URL=
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=
SMTP_PASS=
SMTP_FROM_EMAIL=
SMTP_FROM_NAME="IAC Mobile System"

