@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --sat: env(safe-area-inset-top);
    --sar: env(safe-area-inset-right);
    --sab: env(safe-area-inset-bottom);
    --sal: env(safe-area-inset-left);
  }

  html, body {
    @apply bg-zinc-50 text-zinc-900;
    -webkit-tap-highlight-color: transparent;
    touch-action: manipulation;
  }
}
